
*.exe
ConsoleApplication4/Debug/ConsoleApplication4.ilk
ConsoleApplication4/Debug/ConsoleApplication4.pdb
ConsoleApplication4/.vs/ConsoleApplication4/v15/ipch/f3b5c7a62b893a35.ipch
ConsoleApplication4/.vs/ConsoleApplication4/v15/Browse.VC.db
ConsoleApplication4/.vs/ConsoleApplication4/v15/.suo
ConsoleApplication4/ConsoleApplication4/Debug/AirConditioner.obj
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/CL.command.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/CL.read.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/CL.write.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/link.command.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/link.read.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleA.0FAB98C0.tlog/link.write.1.tlog
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleApplication4.log
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleApplication4.obj
ConsoleApplication4/ConsoleApplication4/Debug/ConsoleApplication4.pch
ConsoleApplication4/ConsoleApplication4/Debug/RemoteControl.obj
ConsoleApplication4/ConsoleApplication4/Debug/pch.obj
ConsoleApplication4/ConsoleApplication4/Debug/vc141.idb
ConsoleApplication4/ConsoleApplication4/Debug/vc141.pdb
